SKIPCHECK;
['Commission','Amount'] = N: DB('Commissions', !Subsidiaries, !Months, !Versions,'Commission');
['PENSION PLAN','Amount'] = N: ['SALARIES', 'Amount'] * ['PENSION PLAN','Percent'];
['SOCIAL SECURITY','Amount'] = N:['SALARIES', 'Amount'] * ['SOCIAL SECURITY','Percent'];
['HEALTH INSURANCE','Amount'] = N:['SALARIES', 'Amount'] * ['HEALTH INSURANCE','Percent'];

[{'Reporting USD','Reporting EUR','Reporting JPY'}]=N:['Amount']*DB( 'zRate', !Months, 'Reporting', ATTRS('Subsidiaries', !Subsidiaries, 'Currency'), ATTRS('Expense_Measures', !Expense_Measures, 'Currency'));

FEEDERS;
['Amount'] => ['Reporting USD'], ['Reporting EUR'], ['Reporting JPY'];
['SALARIES', 'Amount'] => ['HEALTH INSURANCE','Amount'], ['PENSION PLAN','Amount'],['SOCIAL SECURITY','Amount'];
['Amount' ] => DB('Income_Statement', !Versions, !Months,!Subsidiaries, 'Salaries', 'Amount'), 
				DB('Income_Statement', !Versions, !Months, !Subsidiaries, 'Benefits', 'Amount'), 
                DB('Income_Statement',!Versions, !Months, !Subsidiaries, 'Overheads', 'Amount');