SKIPCHECK;
['Gross Sales Revenue','Amount']=N:DB('Sales_Plan', !Subsidiaries, 'ALL CHANNELS','TOTAL PRODUCTS',!Months,!Versions,'GROSS SALES REVENUE');
['Total Discounts and Allowances', 'Amount']=N:DB('Sales_Plan',!Subsidiaries,'ALL CHANNELS','TOTAL PRODUCTS',!Months, !Versions,'TOTAL DISCOUNTS AND ALLOWANCES');
['Freight', 'Amount']=N:DB('Sales_Plan', !Subsidiaries, 'ALL CHANNELS','TOTAL PRODUCTS', !Months, !Versions, 'Freight');
['Cost of Sales', 'Amount']=N:DB('Sales_Plan', !Subsidiaries, 'ALL CHANNELS','TOTAL PRODUCTS', !Months, !Versions,'COST OF SALES');

['Overheads', 'Amount' ] = N: DB('Expenses', !Versions, !Months, !Subsidiaries, 'TOTAL EXPENSES', 'Amount');
['Salaries', 'Amount' ] = N: DB('Expenses', !Versions, !Months, !Subsidiaries, 'SALARIES', 'Amount');
['Benefits', 'Amount' ] = N: DB('Expenses', !Versions, !Months, !Subsidiaries, 'BENEFITS', 'Amount');
[{'Reporting USD','Reporting EUR', 'Reporting JPY'}]= N:['Amount']*DB('zRate', !Months, 'Reporting', ATTRS('Subsidiaries', !Subsidiaries, 'Currency'),ATTRS('Income_Statement_Measures', !Income_Statement_Measures,'Currency'));
['Franchise Fees','Amount'] = N:DB( 'Franchise_Revenue', !Subsidiaries, !Months, !Versions  );

FEEDERS;
['Amount'] => ['Reporting USD'],['Reporting EUR'],['Reporting JPY'];